/* NAVBAR GERAL */
.navbar {
  width: 90vw;
  height: 70px;
  padding: 0 40px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  font-family: 'Inter', sans-serif;
}

/* LOGO */
.navbar-logo {
  display: flex;
  align-items: center;
  gap: 6px;
}

.logo-box {
  width: 32px;
  height: 32px;
  background: #ff69b4;
  color: white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

  .logo-text {
    font-size: 20px;
    font-weight: 600;
    color: #333;
  }

.logo-text span {
  color: #ff67b6;
  font-weight: 600;
}

/* LINKS */
.navbar-links {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
}

.navbar-links li {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: #444;
  padding: 8px 14px;
  border-radius: 30px;
  cursor: pointer;
  transition: 0.2s;
}

.navbar-links li i {
  color: #ff69b4;
  font-size: 14px;
}

/* LINK ATIVO (Início) */
.navbar-links .active {
  background: #ffe2ef;
  font-weight: 600;
  color: #ff69b4;
}

/* HOVER */
.navbar-links li:hover {
  background: #f7f7f7;
}

/* Botão rosa à direita */
.ia-btn {
  padding: 8px 20px;
  background: #ff4ab8;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
}

.ia-btn i {
  font-size: 16px;
}

.ia-btn:hover {
  opacity: 0.9;
}